<app-angular-weather-app></app-angular-weather-app>
<section>
  <div id=wrap-header>
      <i class="material-icons" routerLink="/" *ngIf="cityInfo.length !== 0">
        arrow_back_ios
      </i>
    <h1>{{city.title}}</h1>
  </div>
  <mat-card *ngFor="let cityInfo of cityInfo | slice:0:4" class="example-card">
    <mat-card-header>
      <p mat-raised-button matTooltip="{{cityInfo?.the_temp * 1.8 + 32 | number:'1.0-0'}}&#8457;" id="temp">
        {{ cityInfo?.the_temp | number:'1.0-0'}}&#8451;</p>
      <img mat-card-avatar class="example-header-image"
        src="https://www.metaweather.com/static/img/weather/png/64/{{cityInfo?.weather_state_abbr}}.png">
      <mat-card-title>{{cityInfo?.applicable_date | date}}</mat-card-title>
      <mat-card-subtitle>{{cityInfo?.weather_state_name}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</section>