<app-angular-weather-app></app-angular-weather-app>
<section>
  <h1>Search for a city</h1>
  <mat-form-field class="example-full-width">
    <input #searchBox matInput (input)="searchCity(searchBox.value)">
    <!-- <button (click)="searchCity(query)">Search</button> -->
  </mat-form-field>
  <ul class="search-result">
    <span *ngIf="searchBox.value.length > 0">Cities Found:</span>
    <li *ngFor="let city of city$ | async | slice:0:5">
      <!--  ispod na link -->
      <a routerLink="/search/{{city.title}}/{{city.woeid}}">
        {{city.title}}
      </a>
    </li>
  </ul>
</section>